/* Mobile & Tablet */
@media (max-width: 1023px) {  
    .hide-on-mobile-tablet{
        display: none;
    }

    .header{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
    }

    .header-sort-bar{
        display: flex;
    }
    .search-container__searchbox{
        justify-content: center;
    }

    .search-container__logo--tablet{
        width: 100px;
        display: flex;
        align-items: center;
        margin-left: 10px;
    }

    .search-container__cart-box{
        width: 100px;
        display: flex;
        align-items: center;
        margin-left: 10px;
    }

    .cart-box__cart-notify{
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }
    .cart-box__cart-notify::before{
        display: none;
    }

    .container{
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }

    .mobile-category{
        display: block;
    }

}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    :root{
        --header-height: 70px;
        --navbar-height: 0px;
    }

    .hide-on-tablet{
        display: none;
    }

}

/* Mobile */
@media (max-width: 739px) {
    :root{
        --header-height: 46px;
        --navbar-height: 0px;
    }
   
    .hide-on-mobile{
        display: none;
    }

    .header-search{
        height: 100%;
    }

    .search-container{
        height: 100%;
        justify-content: space-between;
    }

    .header__mobile-search{
        display: flex;
    }
    .search-container__logo--tablet{
        display: block;
        width: unset;
        margin: auto;
    }

    .svg-logo-tablet{
        width: 70px;
        height: 46px;
    }

    .search-container__cart-box{
        width: 46px;
        margin-left: 0;
        margin-right: 16px;
    }

    .container__cart-icon{
        font-size: 22px;
    }

    .search-container__searchbox{
        position: fixed;
        top: var(--header-height);
        right: 0;
        left: 0;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        padding: 0 8px;
        animation: mobileSearchSideIn linear 0.2s;
        display: none;
    }

    .header-search__history{
        position: fixed;
        width: 100%;
        top: calc(var(--header-height) + 46px);
    }

    .pagination-item__link{
        min-width: 30px;
    }

    .pagination-item{
        margin: 0 6px;
    }

    .pagination-item:nth-child(6){
        display: none;
    }

    .container-content{
        margin-left: 6px;
        margin-right: 6px;
        padding-top: 14px;
    }

    .product-react__like{
        font-size: 1.2rem;
    }

    .product-sold__star-point{
        font-size: 0.6rem;
    }

    .product-sold__text{
        font-size: 1rem;
    }

    .product-sold__amount{
        font-size: 1rem;
    }

    .footer{
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer-item__heading{
        text-align: center;
    }

    .footer-item__list-item{
        justify-content: center;
    }

    @keyframes mobileSearchSideIn {
        from{
            top: calc(var(--header-height) / 2);
            opacity: 0;
        }
        to{
            top: var(--header-height);
            opacity: 1;
        }
    }
}