@model IEnumerable<Super.Models.HoaDon>
@{
    ViewData["Title"] = "GetOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-striped" style="margin-top: 8rem">
    <thead>
        <tr>
            <th>ID đơn hàng</th>
            <th>Ngày mua</th>
            <th>Tổng thành tiền đơn hàng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
            <tr>          
                <td>@item.MaHd</td>
                <td>@item.NgayLap</td>
                <td>@item.TongTien</td>
                <td><a href="@Url.Action("OrderDetail" , "UserOrder", new { orderId = item.MaHd})">Chi tiết</a></td>
            </tr>
        }
    </tbody>
</table>
