@model Super.Models.Hang
@{
    ViewData["Title"] = "Them";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<div class="d-flex justify-content-center">
    <div class="updatedata col-6 px-5 pt-5 border rounded-3 shadow-lg" style="margin-top: 100px">
        <h2 class="text-center fw-bold pb-4">Thêm thông tin hàng</h2>
        <hr />
        <form  method="post" enctype="multipart/form-data" action="@Url.Action("Them", "Hang", new { area = "Admin"})">
            <div class="mb-4" hidden>
                <label for="mahang" class="form-label fw-bolder">Mã Hàng</label>
                <input type="text" class="form-control"  id="mahang" name="mahang" aria-describedby="text">
            </div>
            <div class="mb-4">
                <label for="tenhang" class="form-label fw-bolder">Tên Hàng</label>
                <input type="text" class="form-control" id="tenhang" name="tenhang" aria-describedby="text">
            </div>
            <div class="mb-4">
                <label for="dongiahang" class="form-label fw-bolder">Đơn Giá Hàng</label>
                <input type="text" class="form-control" id="dongiahang" name="dongiahang" aria-describedby="text">
            </div>
             <div class="mb-4">
                <label for="manhanhieu" class="form-label fw-bolder">Mã nhãn hiệu</label>
                <input type="text" class="form-control" id="manhanhieu" name="manhanhieu"aria-describedby="text">
            </div>   
            <div class="mb-4">
                <label for="mota" class="form-label fw-bolder">Mô tả</label>
                <input type="text" class="form-control" id="mota" name="mota"aria-describedby="text">
            </div>   
            <div class="mb-4">
                <label for="src" class="form-label fw-bolder">Chủng loại</label>
                <input type="text" class="form-control" id="src" name="src"aria-describedby="text">
            </div>
            <div class="mb-4">
                <label for="url" class="form-label fw-bolder">Mã khuyến mại</label>
                <input type="text" class="form-control" id="url" name="url"aria-describedby="text">
            </div>
            <div class="mb-4">
                <label for="ngaynhap" class="form-label fw-bolder">Ngày nhập hàng</label>
                <input type="date" value="" class="form-control" id="ngaynhap" name="ngaynhap" aria-describedby="text">
            </div>
            <div class="mb-4" hidden>
                <label for="imageurl" class="form-label fw-bolder" hidden>Mã nhãn hiệu</label>
                <input type="text" value="" class="form-control" id="imageurl" name="imageurl" aria-describedby="text" hidden>
            </div>
            <div class="mb-4">
                <label for="hinhanh" class="form-label fw-bolder">Hình Ảnh</label>
                <img src="" id="image" width="200" height="200" style="object-fit: cover" />
                <input type="file" onchange="chooseFile(this)" class="form-control" value="" id="hinhanh" name="hinhanh" aria-describedby="text">
            </div>
            <div class="mb-4">
                <label for="isactive" class="form-label fw-bolder">Trạng thái</label>
                <select type="text" class="form-control" id="isactive" name="isactive" aria-describedby="text">
                     <option selected value = "True">Kích hoạt</option>
                    <option value = "False">Tạm khóa</option>
                </select>
            </div>
            <hr />
            <div class="d-flex align-items-center justify-content-center my-5 gap-5">
                <button type="submit" id="themgiohang" class="btn btn-primary px-4 py-2">Thêm thông tin hàng</button>
            </div>
        </form>
    </div>
</div>
<script>
    
   
      function chooseFile(fileInput) 
         {
             console.log(fileInput.files[0])
            if (fileInput) 
            {
                
                 var reader = new FileReader();
                 reader.onload = function (e) {
                    
                 $('#image').attr('src', e.target.result)
                 $('#imageurl').attr('value', e.target.result)
                 
                     
                 }
                  reader.readAsDataURL(fileInput.files[0]);
                
                
               
            }
        }
   
</script>